@font-face {
  font-family: 'Geist';
  src: url('Geist-Regular.woff2');
}

@font-face {
  font-family: 'Geist Mono';
  src: url('GeistMono-Regular.woff2');
}

:root {
  --default-font: 'Fira Sans', sans-serif;
  --mono-font: 'Geist Mono', monospace;
  --accent-color: #0e7556;
  --primary: #1189c0;
  --alert-color: #e00f4e;
}

::selection {
  background: var(--primary);
  color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
  font-size: 1rem;
  font-weight: 400;
}
body {
  background: #f1f1f1;
}
input {
  font-family: inherit;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
