@font-face {
  font-family: "Open Sauce Sans";
  src: url("./fonts/OpenSauceSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("./fonts/OpenSauceSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("./fonts/OpenSauceSans-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("./fonts/OpenSauceSans-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("./fonts/IBMPlexMono-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("./fonts/IBMPlexMono-Regular.ttf");
  font-weight: 400;
}

:root {
  --default-font: "Open Sauce Sans", sans-serif;
  --mono-font: "IBM Plex Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
  font-size: 1rem;
  font-weight: 400;
}
input {
  font-family: inherit;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
