:root {
  --mono-font: "JetBrains Mono Variable", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Variable", sans-serif;
}
input {
  font-family: inherit;
}
button {
  cursor: pointer;
}
